{% extends "base.html" %}

{% block content %}
<h1>Web Programing in Python with Django</h1>
<h4>Luke O'Malley '14, SIPB Member</h4>
<p>Developed four years ago by a fast-moving online-news
  operation, Django was designed to handle two challenges: the
  intensive deadlines of a newsroom and the stringent
  requirements of the experienced Web developers who wrote
  it. It lets you build high-performing, elegant Web
  applications quickly. Django comes with an easy-to-understand
  templating engine, an Object-relational matter that lets you
  manipulate your database though interactions with python
  objects, and an autoconfigured admin interface.
</p>  
{% endblock %}
